.bg-none{
	background :none
}
$normail-color=#ca4341
.bg-normail{
	background $normail-color
}
view{
	color #333
}
.checkBox{
	width: 10px;
	    height: 10px;
	    
	    border-radius: 50%;
	    border:  1px solid #9E9E9E;;
}
	.checked{
		background: $normail-color;
	}	