.bg-none
	background none
$normail-color = #ca4341
.bg-normail
	background $normail-color
	color #FFFFFF
#app
	color #333
.checkBox
	width 10px
	height 10px
	border-radius 50%
	border 1px solid #9E9E9E
.checked
	background $normail-color
.s-checkBox
	width 40upx
	height 40upx
	display inline-block
	background gray
	font-size 40upx
	line-height 40upx
	color #ffffff
.check-green
	background green
.s-lineH1{
	line-height 1
}
.s-pointerEvents{
	pointer-events: none;
}
.s-miniWidth{
	width 80upx
}